@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@mixin textFont($f: 20px) {
    font-size: $f;
    font-family:"Roboto Condensed", sans-serif;
    text-transform: capitalize;
}